body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#toast-container {
  top: auto;
  right: auto;
  bottom: 10%;
  left:7%;
}

span.badge
{
  float: right;
  position: inherit;
}
